/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and Header Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: #333;
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: space-between; /* Space out logo and nav links */
  align-items: center;
  padding: 0 20px;
}

.navbar .logo a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.navbar .nav-links {
  list-style-type: none;
  display: flex;
  justify-content: space-between; /* Ensure even spacing between nav links */
  width: 100%; /* Full width to space out items */
}

.navbar .nav-links li {
  margin: 0 15px;
}

.navbar .nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navbar .nav-links a:hover {
  color: #ddd;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background-color: #fff;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
  .navbar .nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
    flex-direction: column;
    align-items: center;
    display: none;
    margin-top: 10px;
  }

  .navbar .nav-links.active {
    display: flex;
  }

  .navbar .nav-links li {
    margin: 10px 0;
  }

  .hamburger {
    display: flex;
  }
  
  
  /* Class Name */
  .name {
    font-family: "Lucida Handwriting", cursive;
  }
  
}
